
.cardbook {
  margin: auto;
  max-width:  1000px;
}
.cardw {
  max-width: 540px;
}
.allcards {
  margin-right: 120px;
}
.cardone {
  width: 700px;
}
.manegeradmin {
  margin-top: 50px;
}
.buttonpost{
    margin-right: 120px;
    
}

.imgsize{
  width: 300px;
  height: 600px;
}